
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>大神上分</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link href="~/Content/Css/Reset.css" rel="stylesheet" />
    <link href="~/Content/Css/Personal_index.css" rel="stylesheet" />
    <link href="~/Content/Css/Personal_ManitoHomepage.css" rel="stylesheet" />
    <link href="~/Content/Css/Personal_ManitoTop.css" rel="stylesheet" />
    <link href="~/Content/Img/favicon.ico" type="image/x-icon" rel="shortcut icon" />
</head>
<body>
    <div class="manito_top">
        <p class="personal_title">大神申请>大神上分</p>
        <div class="manito_top_plan">
            <div class="manito_top_plan_bg"></div>
            <div class="manito_top_plan_txt clearfix">
                <span class="fl">信息初审</span>
                <span class="fr">实力复审</span>
            </div>
        </div>
        
            <div class="manito_top_game manito_top_step1">
                <p class="choose_game"><span>选择游戏：</span>(首次认证只可选择一款游戏，通过后可在 "大神主页" 继续认证其他游戏)</p>
                <div class="choose_game_cont">
                    <select class="game_name">
                        <option value="">选择游戏</option>
                    </select>
                    <select class="game_area">
                        <option value="value">选择区服</option>
                    </select>
                    <select class="game_value">
                        <option value="value">选择段位</option>
                    </select>
                </div>
                <p class="upload_txt">上传最高段位截图：<a href="#" class="hover">查看示例</a></p>
              
                    <div class="upload_btn">
                        <button onclick="uploadimg()">上传图片</button>
                        <input class="upload_btn_file" type="file" name="img" />
                    </div>              
                <div class="upload_show_img">
                    <p>图片展示区</p>                  
                </div>
                <div class="manito_top_agree">
                    <input id="manito_top_agree" type="checkbox" name="name" value="" />
                    <span>我已阅读并同意</span>
                    <a href="#" class="hover">服务条款</a>
                </div>
                <span class="manito_top_btn">提交审核</span>
            </div>
        
        <div class="manito_top_msg manito_top_step2 display">
            <div class="manito_top_step2_img bg_one"></div>
            <div class="manito_top_step2_txt step2_txt1">
                <p class="step2_txt_big">您的资料已经提交</p>
                <p class="step2_txt_small">请耐心等待客服人员审核结果</p>
            </div>
            <div class="manito_top_step2_txt step2_txt2 display">
                <p class="step2_txt_big">恭喜您进入实力复审</p>
                <p class="step2_txt_small">请加入官方QQ群：345677890</p>
                <p>耐心等待客服人员与您联系</p>
            </div>
            <div class="manito_top_step2_txt step2_txt3 display">
                <p class="step2_txt_big">很遗憾，您未通过初审</p>
                <p class="step2_txt_small">“上传截图段位与您选择的游戏信息不符”</p>
                <button class="step2_txt_btn">重新提交</button>
            </div>
        </div>
    </div>
</body>
</html>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Content/Js/myExtend.js"></script>

<script>
    function uploadimg() {
        $('.upload_btn_file').trigger('click');
    }
    $('.upload_btn_file').change(function (e) {
      
        var formData = new FormData();
        formData.append('file', $('.upload_btn_file')[0].files[0]);
      
        $.ajax({
            url: "/UserManage/User/MainToUploadImg",
            type: "POST",
            data:formData,
            processData: false,  // 告诉jQuery不要去处理发送的数据
            contentType: false,   // 告诉jQuery不要去设置Content-Type请求头
            success: function (data) {
                var msgData = data.split(',');
                if (msgData[0] == "empty") {
                    $.Myalert(msgData[1]);
                } else if (msgData[0] == 'typeError') {
                    $.Myalert(msgData[1]);
                } else {
                    $('.upload_show_img').empty();
                    $('.upload_show_img').append('<img src="' + data + '" />')
                }
            }
        });
    })

   
    $(function () {
        $.getJSON('/UserManage/User/GetGamesList', function (data) {
            for(var i in data){
                $('.game_name').append('<option value="' + data[i].GameId + '">' + data[i].GameName + '</option>')
            }            
        })
        $('.game_name').change(function () {
            $('.game_area').empty();
            $('.game_value').empty();
            $('.game_area').append('<option value="value">选择区服</option>');
            $('.game_value').append('<option value="value">选择段位</option>');
            $.ajax({
                url: '/UserManage/User/GetGameRatingList',
                data: {gameId: $(this).val() },
                type: 'post',
                success: function (data) {
                    var Area = $.parseJSON(data.Area),
                        Rating = $.parseJSON(data.Rating);
                    for (var i in Area) {
                        $('.game_area').append('<option value="' + Area[i].Id + '">' + Area[i].AreaName + '</option>')
                    }
                    for (var j in Rating) {
                        $('.game_value').append('<option value="' + Rating[j].Id + '">' + Rating[j].RatingName + '</option>')
                    }
                }
            })
        });
        //  游戏初步认证
        $('.manito_top_btn').click(function () {
            if ($('#manito_top_agree').is(':checked')) {
                alert(11)
                $.post('/UserManage/User/MainToGameApply', {
                    gameId: $('.game_name').val(), ratingId: $('.game_value').val(),
                    areaId: $('.game_area').val(), ratingImg: $('.upload_show_img>img').attr('src')
                }, function (data) {
                    if (data == 'ok') {
                        $('.manito_top_step1').addClass('display');
                        $('.manito_top_step2').removeClass('display');
                    } else {
                        Myalert("提示：操作失败！");
                    }
                });
            }else{
                $.Myalert('请阅读服务条款');
            }
            
        });
    })
</script>
