
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>大神申请</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link href="~/Content/Css/Reset.css" rel="stylesheet" />
    <link href="~/Content/Css/Personal_index.css" rel="stylesheet" />
    <link href="~/Content/Css/Personal_ManitoApply.css" rel="stylesheet" />
    <link href="~/Content/Img/favicon.ico" type="image/x-icon" rel="shortcut icon" />
</head>
<body>
    <div class="manito_apply">
        <p class="personal_title">大神申请</p>
        <p class="manito_apply_title">选择大神类型</p>
        <div class="manito_apply_type">
            <div class="manito_apply_type_upper fl">
                <a class="authentication_btn active" href="/Personal/ManitoTop">
                    <span>大神-上分</span>
                </a>
                <div class="authentication_cont">
                    <span>初审资料提交</span>
                    <span class="small_txt">2018-02-18 16:00</span>
                    <p><span></span></p>
                    <span>初审通过</span>
                    <span>2018-02-18 16:00</span>
                </div>
            </div>
            <div class="manito_apply_type_recreation fl">
                <a class="authentication_btn" href="/Personal/ManitoRecreation">
                    <span>娱乐-陪玩</span>
                </a>
                <div class="authentication_cont">
                    <span>未认证</span>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script src="~/Content/Js/Personal_ManitoTop.js"></script>