
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>欢迎页</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link href="~/Content/Css/Reset.css" rel="stylesheet" />
    <link href="~/Content/Css/Personal_Welcome.css" rel="stylesheet" />
    <link href="~/Content/Img/favicon.ico" type="image/x-icon" rel="shortcut icon" />
</head>
<body>
    <div class="welcome_nav">
        <ul>
            <li class="apply">
                <img src="/Content/Img/apply.png" alt="大神申请" />
                <p>大神申请</p>
            </li>
            <li class="home">
                <img src="/Content/Img/home.png" alt="大神主页" />
                <p>大神主页</p>
            </li>
            <li class="order">
                <img src="/Content/Img/order.png" alt="我的订单" />
                <p>我的订单</p>
            </li>
            <li class="my_wallet">
                <img src="/Content/Img/my_wallet.png" alt="我的钱包" />
                <p>我的钱包</p>
            </li>
            <li class="real_name">
                <img src="/Content/Img/real_name.png" alt="实名认证" />
                <p>实名认证</p>
            </li>
            <li class="call_manito">
                <img src="/Content/Img/apply.png" alt="呼叫大神" />
                <p>呼叫大神</p>
            </li>
            <li class="play_with">
                <img src="/Content/Img/apply.png" alt="秒约陪玩" />
                <p>秒约陪玩</p>
            </li>
        </ul>
    </div>
    <div class="">

    </div>
</body>
</html>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Content/Js/Personal_Welcome.js"></script>