<header class="nav_container">
    <div class="wrap nav_cont">
        <div class="nav_logo_cont fl">
            <a href="/">
                <img src="/Content/Img/logo.png" alt="首页" />
            </a>
        </div>
        <div class="nav_list_cont fl">
            <nav>
                <a href="/">首页</a>
                <a href="/">陪玩</a>
                <a href="/Personal/Index">个人中心</a>
                <a href="/">活动公告</a>
                <a href="/">帮助中心</a>
            </nav>
        </div>
        <div class="useinfo">
            <div class="use_cont display" value ="0">
                <a class="nav_btn" href="/Home/Login">登录</a><a class="nav_btn" href="/Home/Register">注册</a>
            </div>
            <div class="use_cont already_login">
                <div class="use_img_cont">
                    <img src="/Content/Img/use_img.jpg" alt="头像" />
                </div>
                <a class="use_msg_cont" href="/UserManage/User/index">天使nancy</a>
                <div>
                    <a href="/UserManage/Login/OutLogin">退出登录</a>
                </div>
            </div>
        </div>
    </div>
</header>
<link href="~/Content/Css/Nav.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Content/Js/UseInfo.js"></script>
<script>
    $(function () {
        $('.nav_list_cont nav a').each(function () {
            var href = $(this).attr('href');
            if(window.location.pathname == href){
                $(this).addClass('active').siblings('a').removeClass('active');
            }
        })
        $.get('xxx',function(data){
            if(data.User == null){
                var str = '<div class="use_cont" value ="0"><a class="nav_btn" href="/Home/Login">登录</a><a class="nav_btn" href="/Home/Register">注册</a></div>';
                $('.useinfo').append('str');
            } else {
                var str = '<div class="use_cont already_login" value="' + data.User.Id + '"><div class="use_img_cont"><img src="/Content/Img/' + data.User.Img + '" alt="头像" /></div><a class="use_msg_cont" href="/Personal/index">' + data.User.Msg + '</a></div>';
                $('.useinfo').append('str');
            }
        })
    })
</script>